.headline {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;  
  &__h2 {
    font-weight: 100;
    color: $mainBlue;
    font-size: 3rem;
    margin: 1rem auto;
  }

  &__h3 {
    font-weight: 100;
    color: $darkPink;
    font-size: 2rem;
    width: 30rem;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  &__icons {

  }
}

@mixin Desktop {
  .headline {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 0;  

    &__img {
      padding-bottom: 3rem;
    }
    
    &__h2 {
      font-weight: 100;
      color: $mainBlue;
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    
    &__h3 {
      font-weight: 100;
      color: $darkPink;
      font-size: 3rem;
      width: 50rem;
      margin: 0 auto;
    }
    
    &__icons {
    
    }
  } 
}