#features {
  background-color: $mainBlue;
  border-top: 5px solid $darkPink;
  border-bottom: 5px solid $darkPink;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__item {
    width: 80%;
    padding-top: 5%;
  } 
}


@mixin Desktop {
  #features {
    background-color: $mainBlue;
  }
  
  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 4rem;
    align-items: center;

    &__item {
      width: 40%;
      margin: 0;
      padding: 5rem;
    } 
  }
}

