#features {
  background-color: $mainBlue;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    width: 80%;
    padding-top: 5%;
  } 
}


@mixin Desktop {
  #features {
    background-color: $mainBlue;
  }
  
  .feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 4rem;
    &__item {
      width: 40%;
      padding-top: 0%;
    } 
  }
}

