.main-header {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
  background-color: $mainBlue;
  @mixin Large {
    background-color: rgba($mainBlue, .3);
    flex-direction: row;
  }

  &__logo {
    transform: translateX(0%) scale(.8);
    transform-origin: 50% 0%;
    img {
      background-color: rgba($mainBlue, .8);
    }

    @mixin Large {
      postition: relative;
      left: 5%;
      img {
        position: absolute;
        width: 150px;
      }
    }
  }

  &__btn {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $white;
    position: absolute;
    top: 2rem;
    right: 2rem;

    @mixin Large {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    @mixin Large {
      position: relative;
      display: block;
      right: 5%;
    }
  }
}

.nav-ul {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 0;
  @mixin Large {
    flex-direction: row;
  }
  &__list { 
    padding: .6rem;

    a {
      color: $white;
    }
  }
}