.main-header {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  // width: 100%; check this 
  
  @mixin Large {
    background-color: rgba($mainBlue, .3);
    flex-direction: row;
  }

  &__logo {
    left: 50%;
    transform: translateX(50%) scale(.8);
    transform-origin: 50% 0%;
    top: 0;
    img {
      background-color: rgba($mainBlue, .3);
    }

    @mixin Large {
      postition: relative;
      left: 5%;
      img {
        position: absolute;
        width: 150px;
      }
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $white;
    position: absolute;
    top: 2rem;
    right: -3.8rem;

    @mixin Large {
      display: none;
    }
  }

  &__navigation {
    display: none;

    @mixin Large {
      position: relative;
      display: block;
      right: 5%;
    }
  }
}

.nav-ul {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  @mixin Large {
    flex-direction: row;
  }
  &__list { 
    padding-right: 3rem;

    a {
      color: $white;
    }
  }
}