.headline {
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;  
  &--h2 {
    font-weight: 100;
    color: $mainBlue;
    font-size: 3rem;
  }
  &--h3 {
    font-weight: 100;
    color: $darkPink;
    font-size: 2rem;
    width: 30rem;
    margin: 1.6rem auto;
  }
}

@mixin Desktop {
  .headline {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 0;  
    &--h2 {
      font-weight: 100;
      color: $mainBlue;
      font-size: 3rem;
    }
    &--h3 {
      font-weight: 100;
      color: $darkPink;
      font-size: 2rem;
      width: 30rem;
      margin: 1.6rem auto;
    }
  } 
}