#testimonials {
  background: url('/assets/imgs/testimonial-bg.jpg') top center no-repeat;
  background-size: cover;
}

.testimonials__title {
  color: $mainBlue;
  font-weight: 100;
  font-size: 3rem;
  width: 50%;
  margin: 0 auto;
}

.people {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}

.person {
  margin: 35% auto;
  background-color: $white;
  border-radius: .8rem;
  position: relative;
  &--photo {
    width: 50%;
    border-radius: 50%;
    border: .8rem solid $white;
    position: relative;
    top: -5rem;
    left: 0;

    @mixin Tablet {
      top: -60%;
    }

  }
}

.person--last {
  margin-bottom: 0;  
}

.person--h2 {
    color: $mainBlue;
    font-size: 2.4rem;
    padding-top: -10rem;
    margin: 0;
}

.person--h3 {
    font-weight: 900;
    color: $darkPink;
    font-size: 1.6rem;
    margin: 0 auto;
}